<a [routerLink]="homeLink" class="brand-link">
  <div
    class="logo"
    [class.size-sm]="size === 'sm'"
    [class.size-md]="size === 'md'"
    [class.size-lg]="size === 'lg'"
  >
    <ng-container *ngIf="isHome; else notHome">
      <!-- H1 in home -->
      <h1 class="logo-text" [attr.data-text]="text">
        {{ text }}
      </h1>
    </ng-container>

    <!-- H2 altrove (manteniamo l'approccio role=heading/aria-level) -->
    <ng-template #notHome>
      <div
        class="logo-text"
        role="heading"
        aria-level="2"
        [attr.data-text]="text"
      >
        {{ text }}
      </div>
    </ng-template>

    <small class="logo-tagline" *ngIf="tagline">{{ tagline }}</small>
  </div>
  <a [routerLink]="homeLink" class="brand-link"></a
></a>
