<ng-container *ngIf="showPlaceholder; else realAd">
  <div class="affiliate-card">
    <img
      [src]="imageUrl"
      alt="Product image"
      width="200"
      height="200"
      style="aspect-ratio: 1 / 1; object-fit: cover"
    />
    <div class="info">
      <h4>{{ title }}</h4>
      <a [href]="link" target="_blank" rel="nofollow sponsored"
        >Shop on Amazon</a
      >
    </div>
  </div>
</ng-container>

<ng-template #realAd>
  <div
    style="
      width: 120px;
      height: 240px;
      border: 1px solid #ddd;
      background: #f0f0f0;
    "
  >
    <iframe
      [src]="link"
      width="120"
      height="240"
      style="border: none"
      scrolling="no"
    ></iframe>
  </div>
</ng-template>
