@use "./assets/style/main.scss" as *;

.app-main.allow-route-anim > * {
  will-change: transform, opacity;
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
}

.app-navbar-placeholder {
  display: block;
  height: 64px;
  background: rgba(21, 17, 17, 0.6);
  backdrop-filter: blur(8px);
}

.app-footer-placeholder {
  display: block;
  min-height: 120px;
  width: 100%;
}

.cocktail-bubbles-placeholder {
  position: fixed;
  inset: auto 0 0 0;
  height: 0;
}
