<nav class="breadcrumb-container" *ngIf="breadcrumbs$ | async as breadcrumbs">
  <ol class="breadcrumb-list">
    <li *ngFor="let breadcrumb of breadcrumbs" class="breadcrumb-item">
      <ng-container *ngIf="!breadcrumb.isLast; else current">
        <a
          [routerLink]="breadcrumb.url"
          class="breadcrumb-link"
          (click)="onLinkClicked(); $event.stopPropagation()"
        >
          {{ breadcrumb.label }}
        </a>
      </ng-container>
      <ng-template #current>
        <span class="breadcrumb-current">{{ breadcrumb.label }}</span>
      </ng-template>
      <span class="breadcrumb-separator" *ngIf="!breadcrumb.isLast">›</span>
    </li>
  </ol>
</nav>
